In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("../aula_40/super_heroi.sqlite")
conn

In [ ]:
cursor = conn.cursor()
cursor

In [ ]:
super_herois = cursor.execute("SELECT * FROM SuperHeroi").fetchall()
len(super_herois)

In [ ]:
cursor_super_herois = cursor.execute("SELECT * FROM SuperHeroi")
cursor_super_herois
for heroi in super_herois:
    print(heroi)

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(super_herois)
print(dataframe.head(10))

In [ ]:
fraqueza = "Recklessness"
cursor.execute("SELECT NomeFantasia,Fraqueza FROM vilao WHERE Fraqueza = '%s'" % fraqueza)
print(cursor.fetchall())

In [ ]:
parametros= ["Recklessness"]
cursor.execute("SELECT NomeFantasia,Fraqueza FROM vilao WHERE Fraqueza = ?", parametros)
print(cursor.fetchall())

In [ ]:
# cursor.execute("INSERT INTO Vilao VALUES ('9999',  'Joker',  'Arthur', '49',  'ego')")
conn.commit()

In [ ]:
cursor.execute("DELETE FROM  Vilao WHERE BatID = '9999'")
conn.commit()

In [ ]:
novos_viloes = [
("asd3e32", "Lex Luthor", "Alexander Joseph Luthor", "35", "ego"),
("a231asdad21", "Bane", "Eduardo Dorrance", "42", "overdose"),
]
cursor.executemany("INSERT INTO Vilao VALUES (?,  ?,  ?, ?,  ?)", novos_viloes)
conn.commit()

In [ ]:
cursor.execute("DELETE FROM  Vilao WHERE BatID = ?", [novos_viloes[0][0]])
cursor.execute("DELETE FROM  Vilao WHERE BatID = ?", [novos_viloes[1][0]])
conn.commit()

In [ ]:
conn.close()

In [ ]:
conn.cursor()